body{
	padding: 10px;
}
.box{
	padding: 1% 1% 0% 1%;
	border: solid 1px #ccc;
	background: #eee;
}

.bg{
	background-color: #eee;
}
.col-md-10 .btn-default{
	background-color: green;
}
#chat-output{
	height:150px;overflow-y:;
}

.pd-0{
	padding: 0%;
}
/*---bootstrap*/
.panel-body {
	padding: 0px;
}
.panel-default{
	margin: -1%;
}

.btn{
	padding: 10px 82px;
}

